apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-hqsjyckd
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-hqsjyckd:76dc26f0674e6738bcb333ad21affb15eb31115b@sha256:234febbb622a9ed3e8428951f3baf235bfba9bc2022533b80e80987dadb475d9
          name: container-image
